.product {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  min-width: 100px;
  width: 100%;
  margin: 15px;
  padding: 20px;
  z-index: 1;
}

.product__rating {
  display: flex;
}

.product__info {
  width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 15px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
